<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/610fbd17c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/CSS/stylecarrito.css">
    <link rel="stylesheet" href="../../asssets/CSS/style.css   ">
    <script src="../../controllers/JS/cart.js" defer></script>
    <title>Carrito de Compras</title>
</head>
<body>
    <header class="header">
        <!-- ... el contenido del header aquí ... -->
    </header>

    <section class="contenedor__carrito">
        <h2>Carrito de Compras</h2>
        <ul id="cart-items">
            <!-- Aquí se agregarán los productos desde el JavaScript -->
        </ul>
        <button id="checkout">Proceder al Pago</button>
    </section>

    <script src="../../controllers/JS/cart.js"></script>
</body>
</html>

