<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/610fbd17c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/CSS/sylelogin.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <script defer src="../../controllers/JS/carritocompras.js"></script>
    <script src="../../controllers/JS/jquery-3.7.1.js"></script>
    <script src="../JS/validacion.js" defer></script>
    <title>Fast Buy</title>
</head>
<body>
    <section class="contenedor__login">
        <div class="login">
            <a href="index.html"> <span class="icono__atras"><i class="fa-solid fa-arrow-left"></i></span></a>
            <span class="logo__texto"><i class="fa-sharp fa-solid fa-cart-shopping"></i> Fast <b>Buy</b></span>
            <form id="loginForm" class="contenedor__input">
                <input id="correo" type="email" placeholder="ejemplo@ejemplo.com" required>
                <input id="contrasenia" type="password" placeholder="ingrese contraseña" required>
                <button type="submit" id="boton__inicio">Iniciar Sesión</button>
            </form>
            <div class="contenedor__boton">
                <a id="boton__regitro" href="register.html">Registrate</a>
            </div>
        </div>
    </section>
    <script src="../../conrtollers/JS/login.js"></script>
</body>
</html>
