<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/610fbd17c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/CSS/styleproducto.css">
    <link rel="stylesheet" href="../../assets/CSS/styleindex.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="../JS/ocultarelemento.js" defer></script>
    <title>Termo Stanley</title>
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <!-- HEADER LOGO -->
        <section class="header__logo">
            <h3 class="logo__texto"><i class="fa-sharp fa-solid fa-cart-shopping"></i>FastBuy</h3>
        </section>
        
    <!-- HEADER INPUT BUSCADOR -->
        <section class="header__buscador">
            <input class="buscador__input" type="text" placeholder="Buscar Producto..." aria-label="Buscar productos">
            <button class="buscador__boton" aria-label="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
        </section>
        
    <!-- HEADER NAV MENU -->
        <nav class="header__nav" aria-label="Menú de usuario">
            <ul class="nav__list">
                <li class="list__itemhead itemhead--cuenta">
                    <a href="#" class="item__enlace enlace--modify">
                        <i class="fa-regular fa-user enlace__iconouser"></i>
                        <div class="text-container">
                            <span class="span__texto_bienvenido">¡Bienvenido!</span>
                            <span class="span__texto_cuenta">Iniciar sesion / Registrarse<i class='bx bx-chevron-down'></i></span>
                        </div>
                    </a>
    
                    <div class="submenu__cuenta">
                        <div class="cuentas__identificacion">
                            <a href="login_login.php"><button class="identificacion__boton-iniciosesion">Iniciar Sesion</button></a>
                            <a href="register_login.php"><button class="identificacion__boton-registrate">Registrate</button></a>
                        </div>
                        <div class="contenedor__opciones">
                            <ul class="opciones__usuario">
                                <li class="item--separador"></li>
                                <li class="opciones__item"><a class="opciones__enlace" href="#"><i class="fa-regular fa-clipboard"></i> Mis Pedidos</a></li>
                                <li class="opciones__item"><a class="opciones__enlace" href="#"><i class="fa-regular fa-credit-card"></i> Pago</a></li>
                                <li class="opciones__item"><a class="opciones__enlace" href="#"><i class="fa-regular fa-heart"></i> Lista de deseos</a></li>
                                <li class="opciones__item"><a class="opciones__enlace" href="#"><i class="fa-solid fa-ticket"></i> Mis Cupones</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
    
                <li class="list__itemhead">
                    <a href="#" class="item__enlace">
                        <i class="fa-solid fa-cart-shopping enlace__iconocarrito"></i>
                        <div class="text-container">
                            <span id="cart-count">0</span>
                            <span class="span__texto_cesta">Carrito</span>
                        </div>
                    </a>
                </li>
                    
            </ul>
        </nav>
    </header>

        
    <!-- CONTENEDOR MENU LATERAL -->
        <section class="menu__lateral_contenedor">
            <div class="menu__lateral_contenido">
                <!-- MENU LATERAL HEADER -->
                <div class="menulateral__header">
                    <!-- HEADER MENU LATERAL IZQ -->
                    <div class="menulateral__header_usuario">
                        <span class="menuheader__item_usuario"><i class="fa-solid fa-user"></i>  Hola, Ignacio Rocha</span>
                    <span class="menuheader__item_equis"><i class="fa-solid fa-x  salir"></i></span>
                    </div>
                </div>

                <!-- NAV MENU LATERAL IZQ -->
                    <section class="menulateral__nav">
                    <nav class="submenu">
                        <h2 class="submenu__subtitulo">Por departamento</h2>
                        <ul class="nav__list_menulateral">
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Computadoras</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Electronico</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Hogar</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Ver Todo</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="item--separador"></li>
                        </ul>
                    </nav>
                    <nav class="submenu-1">
                        <h2 class="submenu__subtitulo">Ropa y Accesorios</h2>
                        <ul class="nav__list_menulateral">
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Hombre</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Mujer</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Niño</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Mascota</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="item--separador"></li>
                        </ul>
                    </nav>
                    <nav class="submenu">
                        <h2 class="submenu__subtitulo">Ayuda & Ajustes</h2>
                        <ul class="nav__list_menulateral">
                            <li class="listalateral__item"><a class="itemlateral__enlace" href="#">Tu Cuenta</a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace" href="#"><i class="fa-solid fa-language"></i> Español</a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace" href="#"><i class="fa-solid fa-earth-americas"></i> Urguay</a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace" href="#"><span><i class="fa-solid fa-user"></i></span> Mi Cuenta</a></li>
                        </ul>
                    </nav>
                    <nav class="submenu3">
                        <h2 class="submenu__subtitulo">Ropa y Accesorios</h2>
                        <ul class="nav__list_menulateral">
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Hombre</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Mujer</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Niño</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="listalateral__item"><a class="itemlateral__enlace enlace--modificado" href="#"><div class="item__nombre">Mascota</div><i class='bx bx-chevron-right'></i></a></li>
                            <li class="item--separador"></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </section>

    <section class="contenedor__producto">
        <!--CONTENEDOR PRODUCTO IMAGEN-->
        <div class="imagen__producto">
            <img src="termo-stanley-rosado-590ml-ze1795-termo-stanley-rosado-590ml-ze1795.webp"  alt="" width="1000px">
        </div>
        <!--CONTENEDOR PRODUCOT DESCRIPCION-->
        <div class="producto">
            <div class="producto__descripcion">
                <h4 class="subtitulo__producto">Stanley</h4>
                <h1 class="titulo__producto">
                    <span class="titulo__producto_buscar">Botella stanley Classic</span> de boca ancha con aislamineto al vacio, termo de acero inoxidable 18/8 sin BPA para bebidas frias y calientes, mantiene el liquido frio y caliente hasta 24 horas.
                </h1>
                <div class="producto__calificacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="producto__informacion">
                    <p class="informacion__texto">Disponiblidad: <span>En stock</span></p>
                    <p class="informacion__texto">Marca: <span>stanley</span></p>
                    <p class="informacion__texto">Producto con devolución <span>icono</span></p>
                </div>
            </div>
            
        </div>

        <!--/*CONTENEDO COMPRA*/-->
        <div class="contenedor__compra">
            <div class="compra__contenido">
                <span class="favorito__icono"><i class="fa-regular fa-star icono1" id="icono1"></i></span>
                <span class="favorito__icono"><i class="fa-solid fa-star icono2" id="icono2"></i></span>
                <p class="precio__container">Precio: <span class="precio__dolar precio__modificado">U$S: 22.94</span></p>
                 <p class="precio__container-modify">Ahorras: <span class="precio__dolar">10.56(35%)</span></p>
            <span class="precio__dolar precio__modificado-main">U$S 22.94</span>
            <p class="contenedor__garantia">Este producto tiene <a href="#">Garantía de Entrega</a></p>
            <div class="infromacion__envio">
                <p class="informacion-envio__texto"><strong><i class="fa-solid fa-truck"></i> Agrega el producto al carrito</strong> para conocer los costos de envio</p>
            </div>
            <div class="infromacion__envio">
                <p class="informacion-envio__texto"><i class="fa-solid fa-plane"></i> Recibí este producto de 5 a 11 dias habiles seleccionado <strong>envio Express</strong></p>
            </div>
            <p><i class="fa-regular fa-credit-card"></i> Hasta 12 cuotas sin interés</p>
            <div class="agregar__carrito-container">
                <div class="producto__cantidad">
                    <label for="">Cantidad </label>
                    <input type="number" value="1" min="1">

                </div>
                <button class="agregar__alcarrito-boton boton--modificado" >Comprar</button>
                <button class="agregar__alcarrito-boton boton--modificado2 add-to-cart" id="refreshButton">Agregar al carrito</button>
            </div>
            </div>
        </div>
    </section>
    <div class="overlay"></div>
    <script>
    // Abre o cierra el menú lateral y maneja el scroll
    function toggleMenu() {
        const menuContenedor = document.querySelector(".menu_lateral__contenedor");
        const isMenuVisible = menuContenedor.classList.contains("show");
        
        if (isMenuVisible) {
            menuContenedor.classList.remove("show");
            document.body.classList.remove("no-scroll");
        } else {
            menuContenedor.classList.add("show");
            document.body.classList.add("no-scroll");
        }
    }
    
    // Evento para abrir el menú lateral
    document.querySelector(".abrir").addEventListener("click", toggleMenu);
    
    // Evento para cerrar el menú lateral
    document.querySelector(".salir").addEventListener("click", toggleMenu);
    
    //CODIGO CUENTA LOGIN
    document.querySelector(".abrir__cuenta").addEventListener("click", () => {
        document.querySelector(".contenedor__cuenta").style.display = "none";
    });
    
    document.querySelector(".abrir__cuenta").addEventListener("click", () => {
        document.querySelector(".contenedor__cuenta").style.display = "flex";
    });
    
    document.querySelector(".abrir__cuenta").addEventListener("click", () => {
        document.querySelector(".contenedor__cuenta").classList.remove("show");
    });

    document.querySelector('.favorito__icono').addEventListener('click', function() {
    let icono1 = document.getElementById('icono1');
    let icono2 = document.getElementById('icono2');

    // Verificar el estado actual de icono2
    if (window.getComputedStyle(icono2).display === 'none') {
        // Si icono2 está oculto, mostrar icono2 y ocultar icono1
        icono1.style.display = 'none';
        icono2.style.display = 'inline'; // O 'inline-block' si es necesario
    } else {
        // Si icono2 está visible, ocultar icono2 y mostrar icono1
        icono2.style.display = 'none';
        icono1.style.display = 'inline'; // O 'inline-block' si es necesario
    }
});
document.getElementById('refreshButton').addEventListener('click', function() {
            location.reload(); // Esto recarga la página actual
        });

    </script>
    <script src="../../controllers/JS/main.js" defer></script>
    <script src="../../controllers/JS/product.js" defer></script>
    <script src="../../controllers/JS/cart.js" defer></script>
    <script src="../../controllers/JS/menucuenta.js"></script>

</body>
</html>