<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/610fbd17c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/CSS/styleproducto.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <script src="../JS/ocultarelemento.js" defer></script>
    <title>Termo Stanley</title>
</head>
<body>

    <header class="header">
        <!--?CONTENEDOR LOGO-->
        <div class="header__logo">
            <a href="index.html" class="enlace__atras"><span class="logo__texto"><i class="fa-sharp fa-solid fa-cart-shopping"></i> Fast <b>Buy</b></span></a>
        </div>

        <!--?CONTENEDOR INPUT BUSCADOR -->
        <div class="header__buscador">
            <input  type="text" placeholder="Buscar Producto..." ><i class="fa-solid fa-magnifying-glass lupa__header"></i>
        </div>

        <!--?CONTENEDOR LDocument checking completed. No errors or warnings to show.ISTA-->
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="list__itemh"><a class="item__enlace" href="#">Inicio</a></li>
                <li class="list__itemh"><a class="item__enlace" href="../../views/HTML/carrito.html">Carrito  <span id="cart-count">0</span></a></li>
                <li class="list__itemh abrir__cuenta"><a class="item__enlace" href="#"><span><i class="fa-solid fa-user"></i></span> Mi Cuenta</a></li>
                <li class="list__itemh item--modify"><a class="item__enlace" href="#"><i class="fa-solid fa-bars abrir"></i></a></li>
            </ul>
        </nav>
    </header>
    <!--todoFIN HEADER-->

    <!--?CONTENEDOR MENU LATERAL-->
    <div class="menu_lateral__contenedor">
        <div class="menu_lateral__contenido">
            <!--?HEADER MENU LATERAL-->
            <div class="menulateral__header">
                <div class="menulateral__header_usuario">
                    <span class="menuheader__item_usuario"><i class="fa-solid fa-user"></i></span>
                    <span class="menuheader__item_texto"> Hola, Ignacio Rocha</span>
                    <span class="menuheader__item_equis  salir "><i class="fa-solid fa-x"></i></span>
                </div>
            </div>

            <!--?BUSCADOR MENU LATERAL-->
            <div class="menulateral__buscador">
                <input type="text" placeholder="Buscar Producto...">
            </div>

            <nav class="menulateral__nav">
                <section class="submenu">
                    <h2 class="submenu__subtitulo">Por Departamento</h2>
                    <ul class="nav__list_lateral">
                        <li class="listlateral__item"><a class="listalateral__link" href="#"><i class="fa-solid fa-tv"></i> Electronico</a></li>
                        <li class="listlateral__item"><a class="listalateral__link" href="#">Computadoras</a></li>
                        <li class="listlateral__item"><a class="listalateral__link" href="#">Hogar</a></li>
                        <li class="listlateral__item"><a class="listalateral__link" href="#">Ver Todo</a></li>
                    </ul>
                </section>
                <section class="submenu-1">
                    <h2 class="submenu__subtitulo">Ropa y Accesorios</h2>
                    <ul class="nav__list_lateral">
                        <li class="listalateral__item"><a class="listalateral__link" href="#">Hombre</a></li>
                        <li class="listalateral__item"><a class="listalateral__link" href="#">Mujer</a></li>
                        <li class="listalateral__item"><a class="listalateral__link" href="#">Niño</a></li>
                        <li class="listalateral__item"><a class="listalateral__link" href="#">Animales</a></li>
                    </ul>
                </section>
                <section class="submenu">
                    <h2 class="submenu__subtitulo">Ayuda & Ajustes</h2>
                    <ul class="nav__list_lateral">
                        <li class="listalateral__item"><a class="listalateral__link" href="#">Tu Cuenta</a></li>
                        <li class="listalateral__item"><a class="listalateral__link" href="#"><i class="fa-solid fa-language"></i> Español</a></li>
                        <li class="listalateral__item"><a class="listalateral__link" href="#"><i class="fa-solid fa-earth-americas"></i> Urguay</a></li>
                        <li class="listalateral__item"><a class="listalateral__link" href="#" class="abrir__cuenta2"> <span><i class="fa-solid fa-user"></i></span> Mi Cuenta</a></li>
                    </ul>
                </section>
            </nav>
        </div>
    </div>

    <!--?CONTENEDOR CUENTA-->
    <section class="contenedor__cuenta">
        <div class="contenedorcuenta__contenido">
            <div class="cuenta__formulario">
                <div class="cuenta__inciosesion">
                    <a href="login.html"><button class="btn__cuenta btn--iniciosesion">Iniciar Sesión</button>
                    </a>
                </div>
                <div class="cuenta__registro">
                    <a href="register.html"><button class="btn__cuenta btn--registro">Registrarse</button></a>
                </div>
            </div>
            <div class="cuenta__continuar">
                <span>Continuar</span>
            </div>
            <div class="cuenta__sociales">
                <div class="container__btnsociales">
                    <button class="btn__empresa btn--modify-google"><img src="../IMG/google(1).png" alt=""><span>Con Google</span></button>
                </div>
                <div class="container__btnsociales btnsociales--modify">
                    <button class="btn__empresa btn--facebook"><i class="fa-brands fa-square-facebook"></i>Con Facebook</button>
                </div>
            </div>
        </div>
    </section>



    <section class="contenedor__producto">
        <!--CONTENEDOR PRODUCTO IMAGEN-->
        <div class="imagen__producto">
            <img src="termo-stanley-rosado-590ml-ze1795-termo-stanley-rosado-590ml-ze1795.webp"  alt="" width="1000px">
        </div>
        <!--CONTENEDOR PRODUCOT DESCRIPCION-->
        <div class="producto">
            <div class="producto__descripcion">
                <h4 class="subtitulo__producto">Stanley</h4>
                <h1 class="titulo__producto">
                    <span class="titulo__producto_buscar">Botella stanley Classic</span> de boca ancha con aislamineto al vacio, termo de acero inoxidable 18/8 sin BPA para bebidas frias y calientes, mantiene el liquido frio y caliente hasta 24 horas.
                </h1>
                <div class="producto__calificacion">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="producto__informacion">
                    <p class="informacion__texto">Disponiblidad: <span>En stock</span></p>
                    <p class="informacion__texto">Marca: <span>stanley</span></p>
                    <p class="informacion__texto">Producto con devolución <span>icono</span></p>
                </div>
            </div>
            
        </div>

        <!--/*CONTENEDO COMPRA*/-->
        <div class="contenedor__compra">
            <div class="compra__contenido">
                <span class="favorito__icono"><i class="fa-regular fa-star icono1" id="icono1"></i></span>
                <span class="favorito__icono"><i class="fa-solid fa-star icono2" id="icono2"></i></span>
                <p class="precio__container">Precio: <span class="precio__dolar precio__modificado">U$S: 22.94</span></p>
                 <p class="precio__container-modify">Ahorras: <span class="precio__dolar">10.56(35%)</span></p>
            <span class="precio__dolar precio__modificado-main">U$S 22.94</span>
            <p class="contenedor__garantia">Este producto tiene <a href="#">Garantía de Entrega</a></p>
            <div class="infromacion__envio">
                <p class="informacion-envio__texto"><strong><i class="fa-solid fa-truck"></i> Agrega el producto al carrito</strong> para conocer los costos de envio</p>
            </div>
            <div class="infromacion__envio">
                <p class="informacion-envio__texto"><i class="fa-solid fa-plane"></i> Recibí este producto de 5 a 11 dias habiles seleccionado <strong>envio Express</strong></p>
            </div>
            <p><i class="fa-regular fa-credit-card"></i> Hasta 12 cuotas sin interés</p>
            <div class="agregar__carrito-container">
                <div class="producto__cantidad">
                    <label for="">Cantidad </label>
                    <input type="number" value="1" min="1">

                </div>
                <button class="agregar__alcarrito-boton boton--modificado" >Comprar</button>
                <button class="agregar__alcarrito-boton boton--modificado2 add-to-cart" id="refreshButton">Agregar al carrito</button>
            </div>
            </div>
        </div>
    </section>
    <div class="overlay"></div>
    <script>
    // Abre o cierra el menú lateral y maneja el scroll
    function toggleMenu() {
        const menuContenedor = document.querySelector(".menu_lateral__contenedor");
        const isMenuVisible = menuContenedor.classList.contains("show");
        
        if (isMenuVisible) {
            menuContenedor.classList.remove("show");
            document.body.classList.remove("no-scroll");
        } else {
            menuContenedor.classList.add("show");
            document.body.classList.add("no-scroll");
        }
    }
    
    // Evento para abrir el menú lateral
    document.querySelector(".abrir").addEventListener("click", toggleMenu);
    
    // Evento para cerrar el menú lateral
    document.querySelector(".salir").addEventListener("click", toggleMenu);
    
    //CODIGO CUENTA LOGIN
    document.querySelector(".abrir__cuenta").addEventListener("click", () => {
        document.querySelector(".contenedor__cuenta").style.display = "none";
    });
    
    document.querySelector(".abrir__cuenta").addEventListener("click", () => {
        document.querySelector(".contenedor__cuenta").style.display = "flex";
    });
    
    document.querySelector(".abrir__cuenta").addEventListener("click", () => {
        document.querySelector(".contenedor__cuenta").classList.remove("show");
    });

    document.querySelector('.favorito__icono').addEventListener('click', function() {
    let icono1 = document.getElementById('icono1');
    let icono2 = document.getElementById('icono2');

    // Verificar el estado actual de icono2
    if (window.getComputedStyle(icono2).display === 'none') {
        // Si icono2 está oculto, mostrar icono2 y ocultar icono1
        icono1.style.display = 'none';
        icono2.style.display = 'inline'; // O 'inline-block' si es necesario
    } else {
        // Si icono2 está visible, ocultar icono2 y mostrar icono1
        icono2.style.display = 'none';
        icono1.style.display = 'inline'; // O 'inline-block' si es necesario
    }
});
document.getElementById('refreshButton').addEventListener('click', function() {
            location.reload(); // Esto recarga la página actual
        });

    </script>
    <script src="../../controllers/JS/main.js" defer></script>
    <script src="../../controllers/JS/product.js" defer></script>
    <script src="../../controllers/JS/cart.js" defer></script>

</body>
</html>