<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/610fbd17c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/CSS/sylelogin.css">
    <link rel="stylesheet" href="../../assets/CSS/style.css">
    <title>Fast Buy</title>
</head>
<body>
    <section class="contenedor__login">
        <div class="login">
            <a href="login.html"> <span class="icono__atras"><i class="fa-solid fa-arrow-left"></i></span></a>
            <span class="logo__texto"><i class="fa-sharp fa-solid fa-cart-shopping"></i> Fast <b>Buy</b></span>
            <form id="registerForm" class="contenedor__input">
                <label for="name">Nombre</label>
                <input id="name" type="text" placeholder="Ignacio" required>
                
                <label for="regEmail">Correo</label>
                <input id="regEmail" type="email" placeholder="ejemplo@ejemplo.com" required>
                
                <label for="regPassword">Contraseña</label>
                <input id="regPassword" type="password" placeholder="ingrese contraseña" required>
                
                <button type="submit">Registrar</button>
            </form>
        </div>
    </section>
    <script src="../../controllers/JS/regitro.js"></script>
</body>
</html>
